<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>323362297216-mpkkithdid6luldu0r62lehqjjlv9oj7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.323362297216-mpkkithdid6luldu0r62lehqjjlv9oj7</string>
	<key>API_KEY</key>
	<string>AIzaSyAgZCxI4DHbBZfUdsIvCkp7Gy4CocPgV9Y</string>
	<key>GCM_SENDER_ID</key>
	<string>323362297216</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alpaycalalli.FirebaseBasicApp</string>
	<key>PROJECT_ID</key>
	<string>fir-tutorial-43c1c</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-tutorial-43c1c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:323362297216:ios:e3c4c3e75f00c9b6531d65</string>
</dict>
</plist>